.color-fill-0 { fill: #16AAD8; }
.color-fill-1 { fill: #4caf50; }
.color-fill-2 { fill: #f44336; }
.color-fill-3 { fill: #ff9800; }
.color-fill-4 { fill: #00bcd4; }
.color-fill-5 { fill: #8bc34a; }
.color-fill-6 { fill: #e91e63; }
.color-fill-7 { fill: #03a9f4; }
.color-fill-8 { fill: #ff5722; }
.color-fill-9 { fill: #673ab7; }
.color-fill-10 { fill: #009688; }
.color-fill-11 { fill: #9c27b0; }
.color-fill-12 { fill: #cddc39; }
.color-fill-13 { fill: #3f51b5; }
.color-fill-14 { fill: #ffc107; }
.color-fill-15 { fill: #795548; }
.color-fill-16 { fill: #16AAD8; }
.color-fill-17 { fill: #4caf50; }
.color-fill-17 { fill: #4caf50; }
.color-fill-18 { fill: #00bcd4; }
.color-fill-20 { fill: #ff9800; }
.color-fill-21 { fill: #00bcd4; }
.color-fill-22 { fill: #8bc34a; }
.color-fill-23 { fill: #e91e63; }
.color-fill-24 { fill: #03a9f4; }
.color-fill-25 { fill: #ff5722; }
.color-fill-26 { fill: #673ab7; }
.color-fill-27 { fill: #009688; }
.color-fill-28 { fill: #9c27b0; }
.color-fill-29 { fill: #cddc39; }
.color-fill-30 { fill: #3f51b5; }
.color-fill-31 { fill: #ffc107; }
.color-fill-32 { fill: #673ab7; }
