.example-work-wrapper,
.example-work-more-wrapper {
    @extend %pad;
    display: flex;
    flex-wrap: wrap;
}

.example-work {
    @extend %frame;
    @extend %half;

    h3 {
        margin-top: 0;
    }

    a {
        display: inline-block;
        margin-right: 5px;
    }

    img {
        float: left;
        width: 20%;
        margin-right: 10px;
    }

    p {
        margin-bottom: 7px;
        display: none;
    }

    .tags {
        margin-top: 10px;
        clear: both;
    }
}

.see-more-work {
    margin-top: 0 !important;
}

.example-work-more-wrapper {
    display: none;
}

.show-more-work .example-work-more-wrapper {
    display: flex;
}

.show-more-work .see-more-work {
    display: none;
}
