.qualification-wrapper {
    @extend %feature-wrapper;
}

.qualification {
    @extend %frame;
    width: 100%;
    padding: $spacing;
    margin-bottom: $spacing;

    > em {
        @extend %header-font;
        float: right;
        font-size: 2em;
        padding-right: 5px;
    }

    h4 em {
        color: #e91e63;
    }

    h4 small {
        font-style: italic;
    }

    h5 {
        color: #e91e63;
        margin: 0;
    }

    &.ggj {
        h4 {
            margin-top: 10px;
        }

        img {
            width: 33%;
            margin: 0.15%;
            float: left;
        }
    }
}
